<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>Używamy cookies i podobnych technologii m.in. w celach: świadczenia usług, reklamy, statystyk. Korzystanie z witryny bez zmiany ustawień Twojej przeglądarki oznacza, że będą one umieszczane w Twoim urządzeniu końcowym. Pamiętaj, że zawsze możesz zmienić te ustawienia. Szczegóły znajdziesz w <a href="<%- url_policy %>" title="Polityka prywatności serwisu">Polityce prywatności</a>.</p>
</div>