@media (max-width: 979px) {

    #main {
        margin-top: 0;
    }

    //NAVBAR
    .navbar-wrapper {
        height: auto;
        min-height: 45px;
        margin-bottom: 2px;
        .container {
            background-image: none;
        }
        .navbar {
            &.navbar-inverse .nav-collapse .nav > .active {
                background: @black;
                border-color: @black;
                a, a:active, a:focus {
                    background: #3A3A3A;
                    color: @white;
                }
            }
            height: auto;
            position: relative;
            .nav, .special {
                .utility-buttons {
                    float: none;
                }
                li {

                }
            }
            .btn.btn-navbar {
                float: left;
            }
            .brand {
                float: none;
                position: absolute;
                left: 90px;
                padding: 3px 10px 0;
                height: auto;
                .logo img {
                    height: 40px;
                    width: auto;
                }
                small {
                    display: none;
                    margin-left: 55px;
                }
            }

        }
    }
}
