//
// Responsive: Large desktop and up
// --------------------------------------------------


@media (min-width: 1200px) {	
  .navbar #search_panel {
	left: 295px;
  }
  .navbar-wrapper {
    .container {
      background: url('../img/header/01_b.jpg') top center no-repeat;
      &.image-2 {
        background-image: url('../img/header/02_b.jpg');
      }
      &.image-3 {
        background-image: url('../img/header/03_b.jpg');
      }
      &.image-4 {
        background-image: url('../img/header/04_b.jpg');
      }
    }
  }

  .entry {
  	&.special {
  	  &.shedule {
        padding-bottom: 5px;
        .media-body {
          margin-bottom: 6px;
        }
        h6 {
          margin-top: 10px;
        }
        .shedule-participants {
          height: 35px;
          margin-top: 5px;
          
          .avatar img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  .users-list {
    height: 36px;
    line-height: 36px;

    .list {
      height: 36px;
    }
    .header {
      line-height: 36px;
    }
    .cnr-join-us .btn {
      #font .special(18px, normal, 25px);
    }
    .avatar img{ height: 30px; width: 30px; }
  }
}
