//
// Responsive: Tablet to desktop
// --------------------------------------------------

@media (min-width: 768px) and (max-width: 979px) {

  #main {
    padding: 0 @gridGutterWidth768 @gridGutterWidth768;
  }
  #sidepanel {
  	clear: both;
  	float: none;
  	width: auto;
  	margin-left: @gridGutterWidth768;
  	margin-top: 10px;
  	&:before {
  		content: ' ';
  		display: block;
  		clear: both;
  		width: 100%;
  		height: 1px;
  	}
  }
  // Set the container width, and override it for fixed navbars in media queries
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: (@gridColumnWidth768 * @gridColumns) + (@gridGutterWidth768 * (@gridColumns - 1)) + 2*@gridGutterWidth768;
  }

  .navbar #user_panel {
    right: 5px;
    top: 5px;
    position: absolute;
  }
  
  .navbar #search_panel {
	left: 205px;
  }
  
  .thumbnails {margin-left: -(@gridGutterWidth768);}
}
