.thumbnail {
  background-color: @white;
  border: 2px solid @blueLight;
  .box-shadow(0 1px 3px rgba(0,0,0,.055));
  padding: 1px;
}
// Add a hover state for linked versions only
a.thumbnail:hover {
  border-color: @linkColorHover;
}