<table id="<%- tableId %>" class="table table-striped datagrid">
  <thead>
    <tr>
      <th>
        <span class="datagrid-header-title"><%- translate(tableName) %></span>
        <div class="datagrid-header-left">
          <% if (searchEnabled) { %>
            <div class="input-append search datagrid-search">
              <input type="text" class="input-medium" placeholder="<%- translate('Szukaj') %>">
              <button class="btn">
                <i class="icon-search"></i>
              </button>
            </div>
          <% } %>
        </div>
        <div class="datagrid-header-right">
          <% if (!_.isEmpty(filterOptions)) { %>
            <div class="select filter" data-resize="auto">
              <button data-toggle="dropdown" class="btn dropdown-toggle">
                <span class="dropdown-label"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <% _.each(filterOptions, function(label, value) { %>
                  <li data-value="<%- value %>" <% if (defaultFilter.toString() === value.toString()) { %> data-selected="true"<% } %>><a href="#"><%- label %></a></li>
                <% }) %>
              </ul>
            </div>
          <% } %>
        </div>
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>
        <div class="datagrid-footer-left" style="display: none;">
          <div class="grid-controls">
            <span>
              <span class="grid-start"></span> - <span class="grid-end"></span>
              <%- translate('z') %> <span class="grid-count"></span>
            </span>
            <div class="select grid-pagesize" data-resize="auto">
              <button data-toggle="dropdown" class="btn dropdown-toggle">
                <span class="dropdown-label"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li data-value="25" data-selected="true"><a href="#">25</a></li>
                <li data-value="50"><a href="#">50</a></li>
                <li data-value="100"><a href="#">100</a></li>
              </ul>
            </div>
            <span><%- translate('na stronę') %></span>
          </div>
        </div>
        <div class="datagrid-footer-right" style="display: none;">
          <div class="grid-pager">
              <button class="btn grid-prevpage"><i class="icon-chevron-left"></i></button>
              <span><%- translate('Strona') %></span>
              <div class="input-append dropdown combobox">
                  <input class="span1" type="text" />
                  <button class="btn" data-toggle="dropdown"><i class="caret"></i></button>
                  <ul class="dropdown-menu"></ul>
              </div>
              <span><%- translate('z') %> <span class="grid-pages"></span></span>
              <button class="btn grid-nextpage"><i class="icon-chevron-right"></i></button>
          </div>
        </div>
      </th>
    </tr>
  </tfoot>
</table>